{% extends 'base.html' %}
<!-- task_list.html -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr@1.8.10/dist/themes/classic.min.css" integrity="sha256-8yD/8SARaM3eT+zLnu3fnL0tr+1hVftq5Kv+d4bKsI8=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr@1.8.10/dist/pickr.min.js" integrity="sha256-7qr5HCfP+yMAFsRXz2Eo/7u6UVXz+eUkwgddIxEllf0=" crossorigin="anonymous"></script>
{% block title %}Task List{% endblock %}

{% block content %}
  <div class="container-fluid w-100">
    <h1>Task List / Kanban Board</h1>

    <div class="sortable-list row">
      {% for project_status in project_statuses %}
        <div class="col-md-2">
          <div class="card h-100">
            <div style="background-color:{{ project_status.color }};" class="card-header text-white">
              {{ project_status.name }}
            </div>

            <div id="{{ project_status.name }}-column" class="card-body d-flex flex-column sortable-list" data-status="{{ project_status.name }}">
              {% for task in tasks %}
                {% if task.status.name == project_status.name %}
                  <div class="card mb-1" data-task-id="{{ task.id }}">
                    <div class="card-body">
                      <div class="float-right">
                        {% if task.assigned_to.profile_picture %}
                            <img src="{{ task.assigned_to.profile_picture.url }}" alt="{{ task.assigned_to }}" class="rounded-circle" width="30" height="30" style="cursor: pointer;" onclick="window.location.href='{% url 'user_profile_form' %}'">
                        {% else %}
                            <div class="custom-avatar" style="background-color: {{ task.assigned_to.color }};">
                                {{ task.assigned_to|slice:":2"|lower }}
                            </div>
                        {% endif %}
                      </div>
                      <div class="float-right" data-bs-placement="top" title="{% if task.priority == 'Critical' %}Critical{% elif task.priority == 'High' %}High{% elif task.priority == 'Medium' %}Medium{% elif task.priority == 'Low' %}Low{% endif %}">
                        <i class="bi {% if task.priority == 'Critical' %}bi-reception-4 text-danger{% elif task.priority == 'High' %}bi-reception-3 text-warning{% elif task.priority == 'Medium' %}bi-reception-2 text-info{% elif task.priority == 'Low' %}bi-reception-1 text-success{% endif %}" data-bs-toggle="modal" data-bs-target="#changePriorityModal{{ task.id }}"></i>
                      </div>

                      <h5 class="card-title">{{ task.title }}</h5>
                      <p class="card-text">{{ task.description }}</p>

                      <div class="text-success" style="position: absolute; bottom: 0; right: 0;">
                        <i class="bi bi-controller"></i> {{ task.xp_reward }} XP
                      </div>

                      <a href="{% url 'update_task' task.id %}" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil"></i>
                      </a>
                      <a href="{% url 'delete_task' task.id %}" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="mt-1">
              <a href="{% url 'create_task' project_status.name %}" class="btn btn-primary">
                <i class="bi bi-plus"></i>
              </a>
            </div>
          </div>
        </div>

        <script>
          document.addEventListener('DOMContentLoaded', function () {

            let {{ project_status.name|cut:" " }}Container = document.querySelector(`.sortable-list[data-status="{{ project_status.name }}"]`);
            {#console.log('Container: {{ project_status.name|cut:" " }}Container');  // Log container for debugging#}

            new Sortable({{ project_status.name|cut:" " }}Container, {
              group: {
                name: 'shared',
              },
              animation: 150,
              ghostClass: 'blue-background-class',
              filter: ".htmx-indicator",
              onEnd: function (evt) {
                // Get the task ID and the new status
                var taskId = evt.item.dataset.taskId;
                var newstatus = evt.to.dataset.status;
                console.log("newstatus");
                console.log(newstatus);

                // Get the index of the dragged item within the column
                var newPosition = Array.from(evt.to.children).indexOf(evt.item) + 1;  // Add +1 to start position from 1

                // Send a request to update the task status and position on the server
                updateTaskStatus(taskId, newstatus, newPosition);
              }
            });
          });
        </script>
      {% endfor %}
    </div>
  </div>

  <!-- Include Sortable script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>

  <script>
  // AJAX function to update task status and position
  function updateTaskStatus(taskId, newstatus, newPosition) {
    fetch(`/update_task_status/${taskId}/${newstatus}/${newPosition}/`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({ status: newstatus })  // Include status name in the request body
    })
      .then(response => response.json())
      .then(data => {
        console.log('Task status and position updated successfully:', data);
        // Handle success, if needed
      })
      .catch(error => {
        console.error('Error updating task status and position:', error);
        // Handle errors
      });
  }
</script>
<style>
    .custom-avatar {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        color: white;  /* Text color */
        font-size: 12px;  /* Adjust font size as needed */
        font-weight: bold;
    }
</style>
{% endblock %}
