<!-- task_form.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>Create/Update Task</h1>
    <form method="post" action="">
      {% csrf_token %}

      {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <small class="text-danger">{{ field.errors }}</small>
          {% endif %}
        </div>
      {% endfor %}


      <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <a href="{% url 'task_list' %}" class="btn btn-secondary mt-3">Back to Tasks</a>
  </div>
{% endblock %}
