<!-- userprofile_form.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>Create/Update User Profile</h1>
    <form method="post" action="">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.user.username.id_for_label }}">Username:</label>
        {{ form.user.username }}
        {% if form.user.username.errors %}
          <small class="text-danger">{{ form.user.username.errors }}</small>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="{{ form.xp.id_for_label }}">XP:</label>
        {{ form.xp }}
        {% if form.xp.errors %}
          <small class="text-danger">{{ form.xp.errors }}</small>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
{% endblock %}
