{% extends 'base.html' %}
<!-- userprofile_form.html -->

{% block content %}
  <div class="container mt-5">
    <h1>Create/Update User Profile</h1>
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}

      {{ form.as_p }}

      <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <a href="{% url 'userprofile_list' %}" class="btn btn-secondary mt-3">Back to User Profiles</a>
  </div>
<style>
        #color-picker {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: transparent;
          width: 60px;
          height: 50px;
          border: none;
          cursor: pointer;
        }

        #color-picker::-webkit-color-swatch {
          border-radius: 50%;
          {#border: 2px solid #000000;#}
        }

        #color-picker::-moz-color-swatch {
          border-radius: 50%;
          {#border: 2px solid #000000;#}
        }
      </style>

{% endblock %}
